body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}
p{
    margin: 0;
}
.border{
    border: 2px solid black;
}

/* css for navbar */

.nav-bar{
    /* width: 100vw; */
    height: 145px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}
.logo-container{
    width: 340px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.kcea-logo{
    width: 70px;
    height: 70px;
}
.kcea-name{
    width: 240px;
    height: 70px;
}
.student-container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.student-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}
.student-logo{
    width: 60px;
    height: 60px;
}
.logoutlogo,.logoutlogo-1{
    width: 50px;
    height: 50px;
}
.nav-section-1{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 47px;
}

.nav-menu{
    display: flex;
    padding-left: 100px;
    flex-direction: row;
    gap: 70px;
}


.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #000;
    font-size: 14px;

}
.ham{
    display: none;
}
.student-container-1{
    display: none;
}
.logout-inner{
    display: none;
}
.hr-1{
    display: none;
}
.hr-2{
    display: none;
}

/* css for footer*/
.footer{
    height: 150px;
    /* width: 100vw; */
    /* position: absolute;
    bottom: 0; */
    background-color: #5183B8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-section-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    gap: 111px;
    justify-content: center;
}
.footer-menu .nav-items a{
    color: white;
    font-size: 12px;
}
.footer-logos{

    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-logo{
    width: 30px;
    height: 30px;
}
.footer-section-2{
    display: flex;
    justify-content: center;
}
.footer-section-2 p{
    color: white;
    font-size: 10px;
}

/* CSS for slideing img */

.slide-container{
    /* width: 90%; */
    /* height: 300px; */
    margin: 60px;
    padding: 50px;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slide{
    width: 50%;
    display: none;
}

.slide-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slide-logo{
    height: 50px;
    width: 10px;
}
.slide-img{
    height: 200px;
    width: 300px;
    
}
.slide-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slide-heading{
    font-size: 16px;
    font-weight: bold;
}
.slide-text{
    font-size: 12px;
    
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@media(max-width:1200px) {
    /* css for navbar */
    .hr{
        display: none;
    }
    .nav-section-2{
        padding-top: 10px;
        width: 40vw;
        max-width: 400px;
        height: 100vh;
        z-index: 999;
        background-color: white;
        position: absolute;
        top: 0px;
        left: -120%;
        transition: all 0.1s;
       
        
    }
    .nav-menu{
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    .ham{
        display: block;
        width: 40px;
    }
    .nav-bar{
        height: 60px;
        padding: 0;
        overflow: hidden;
    }
    .nav-section-1{
        margin: 10px;
        padding: 0;
    }
    .kcea-logo{
        width: 50px;
        height: 50px;
    }
    .kcea-name{
        width: 200px;
        height: 50px;
    }
    .student-logo{
        width: 50px;
        height: 50px;
    }
    .student-container-1{
        display: block;
        width: 300px;
        display: flex;
        gap: 12px;
        align-items: center;
    
    }
    .logout-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .hr-1{
        display: block;
    }
    .hr-2{
        display: block;
    }
    .nav-section-2-inner{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logout-name{
        font-size: 30px;
        font-weight: 500;
    }

    /* css for footer */
    .footer{
        height: 200px;
    }
    .footer-menu{
        flex-direction: column;
        gap: 10px;
    }
    .footer-section-1{
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
    }
    .footer-logos{
        align-items: center;
    }

    /* CSS for slide */

    .slide-inner{
        flex-direction: column;
    }
    .slide-img,.slide-info{
        height: 150px;
        width: 250px;
        
    }

}
@media(max-width:600px) {

    /* css for navbar */
    .hr,.student-details,.logoutlogo{
        display: none;
    }
    .student-container{
        justify-content: flex-end;
    }
    .student-container-1{
        width: 200px;
    }
    .nav-section-2{
        width: 50vw;
    }
    .student-name,.student-htno{
        font-size: 12px;
    }
    .slide-container{
        margin: 20px;
        padding: 50px 0px;
    }


}

@media(max-width:400px) {
    .student-container-1{
        width: 166px;
        gap: 0px;
    }
    .slide-container{
        gap: 25px;
    }
}
